$background-color: #fff;
$cloudy: #9f9f9f;
$font-family-regular: "Fira Sans", 'Merriweather Sans', 'Open Sans', 'Aller Regular', sans-serif;
$font-family-bold: "Fira Sans", 'Merriweather Sans', 'Open Sans', 'Aller Bolder', sans-serif;
$html-background-color: #142220;
$highlight-color: #3c4245;
$link-highlight-background: -webkit-linear-gradient(top, transparent 0%, transparent 90%, $highlight-color 90%, $highlight-color 100%);
$color: #4d4d4d;

$newsletter-bg: #F2F2F2;

@font-face {
  font-family: 'Aller Regular';
  font-style: normal;
  src: url('../assets/vendor/Aller/Aller_Lt.ttf') format('truetype');
}

@font-face {
  font-family: 'Aller Bolder';
  font-style: normal;
  src: url('../assets/vendor/Aller/Aller_Bd.ttf') format('truetype');
}

/* =Base */
body {
  background-color: inherit;
  color: $color;
  font-family: $font-family-regular;
  font-weight: 400;
}

img + em {
  display: block;
  text-align: center;
}

.twitter-tweet {
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

code {
  font-size: 0.85em;
}

h1, h2, h3, p, li {
  margin-block-end: 0.83em;
  margin-block-start: 0.83em; /* Old IE */
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  opacity: 1;
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
  visibility: visible;
}

a {
  background: $link-highlight-background;
  color: inherit;
  font-weight: 400;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

p {
  font-size: 1em;
  line-height: 32px;
}

ul {
  list-style-type: square;
  padding-left: 1em;
}

li {
  font-size: 1em;
  margin-left: 20px;
  margin-right: 20px;
}

img {
  display: block;
  max-width: 100%;
}

h1 {
  font-family: $font-family-bold;
  font-size: 2em;
  font-weight: bolder;
}

h2 {
  font-family: $font-family-bold;
  font-size: 1.5em;
  font-weight: bolder;
}

h2 {
  font-family: $font-family-bold;
  font-size: 1.2em;
  font-weight: bolder;
}

h3 {
  font-family: $font-family-bold;
  font-size: 1em;
  font-weight: bolder;
}

blockquote {
  letter-spacing: 3px;
  margin: 0px;
  margin-bottom: 70px;
  margin-top: 40px;
  padding: 0px;
  position: relative;
  text-align: center;

  footer {
    position: absolute;
    bottom: -35px;
    font-size: 15px;
    color: $color;
    letter-spacing: 0px;
    left: 0px;
    right: 0px;

    &::before {
      content: "** ";
    }

    &::after {
      content: " **";
    }
  }

  p {
    //color: $cloudy;
    display: inline;
    font-size: 20px;
    font-weight: 300;

    &::before {
      content: "";
    }

    &::after {
      content: "";
    }
  }
}

figure {
  margin: 0;
  img {
    margin-bottom: 5px;
  }
  figcaption {
    text-align: center;
    font-size: 0.9em;
  }
}

strong {
  color: $color;
}

/* =Header */
.wrapper {
  max-width: 800px;
  margin: 0px auto;
}

.header {
  overflow: hidden;
  text-align: center;

  .title {
    font-size: 2em;
  }

  @media (max-width: 800px) {
    .title {
      font-size: 2em;
    }
  }
}

.navigation {
  float: left;
}

.logo {
  font-size: 2em;
  font-weight: 200;
  color: $color;
  display: block;
}

.menu {
  font-size: 18px;
  list-style-type: none;
}

.menu__entry {
  display: inline-block;
  margin-right: 5px;

  &:first-child {
    margin-left: 0px;
  }

  &:last-child {
    margin-right: 0px;
  }
}

.menu__entry a {
  background: None;
  font-weight: 400;
}

.social-links {
  color: #000;
  font-size: 24px;
  list-style-type: none;
  margin: 50px auto;
  text-align: center;
}

.social-links__entry {
  background: None;
  display: inline-block;
  margin-left: 10px;
}

.social-links__entry:hover {
  background: $link-highlight-background;
}

.menu-selected {
  background: $link-highlight-background;
  text-decoration: none;
}

/* =Titles */
.page-title {
  margin-bottom: 30px;
  text-align: center;
}

.page-title__text {
  font-size: 1em;
  font-weight: 100;
}

.page-title__subtitle {
  text-align: center;
  color: $cloudy;
  font-size: 0.95em;
  font-weight: 400;
}

.post-title {
  margin-bottom: 2em;
}

.post-title__text {
  margin-bottom: 0;
  text-align: center;
  font-size: 2em;
  font-weight: 800;
}

.post-title__subtitle {
  font-size: 0.5em;
}

/* =Post teasers */

.list-posts {
  list-style-type: none;
  padding: 0px;
}

.post-teaser {
  line-height: 28px;
  font-weight: 100;
}

.post-teaser__title {
  background: None;
  color: $color;
  font-size: 1.618rem;
  font-weight: 700;
  a:hover {
    text-decoration: none;
  }
}

.post-teaser__date {
  font-size: 16px;
  font-weight: normal;
  float: right;
  vertical-align: middle;
  //color: $cloudy;
}

.empty-post-list {
  font-size: 1em;
  font-weight: 100;
  color: $color;
  text-align: center;
}

note-title {
  margin-bottom: 1em;
}

.-title__text {
  font-size: 1em;
}

.note-title__subtitle {
  font-size: 0.5em;
}

/* =Notes teasers */

.list-notes {
  list-style-type: none;
  padding: 0px;
}

.note-teaser {
  font-weight: 100;
}

.note-teaser__title {
  background: None;
  color: $color;
  font-size: 1em;
  font-weight: 700;
}

.note-teaser__date {
  font-size: 1em;
  float: right;
  vertical-align: middle;
  //color: $cloudy;
}

.empty-note-list {
  font-size: 1em;
  font-weight: 100;
  color: $color;
  text-align: center;
}

/* =Explore */
.explore {
  text-align: center;
  //color: $cloudy;
  margin-top: 100px;
}

.explore__devider {
  font-size: 18px;
  letter-spacing: 8.18px;
}

.explore__label {
  font-size: 14px;
  margin-top: 15px;
}

.categories {
  list-style-type: none;
  margin-top: 15px;
  padding: 0px;
}

.categories__item {
  display: inline-block;
  font-weight: 100;
  font-size: 18px;
}

.categories__item a {
  color: $color;
}

.categories__item:after {
  content: "/";
  margin-left: 6px;
  //color: $cloudy;
}

.categories__item:last-child:after {
  content: "";
  margin-left: 0px;
}

/* =Post page */
.about {
  //color: $cloudy;
  margin-top: 40px;
  text-align: center;
  line-height: 24px;
}

.about__devider {
  font-size: 20px;
  margin-bottom: 50px;
  letter-spacing: 9.09px;
}

.about__text {
  font-size: 18px;
}

#disqus_thread {
  margin-top: 90px;
}

@media (max-width: 800px) {
  /* =Base */
  p {
    font-size: 16px;
    line-height: 1.6;
  }

  .wrapper {
    width: 80%;
  }

  .navigation,
  .social-links {
    @include centered-block();
  }

  .social-links {
    font-size: 30px;
    margin-top: 35px;
  }

  .page-title {
    margin-bottom: 60px;
  }

  .page-title__text {
    font-size: 40px;
  }

  .page-title__subtitle {
    font-size: 18px;
  }

  .post-teaser__title {
    font-size: 18px;
  }

  .post-teaser__date {
    font-size: 16px;
    margin-top: 10px;
    display: block;
    float: none;
  }

  .explore {
    margin-top: 50px;
  }

  .post-title__text {
    font-size: 28px;
    font-weight: 800;
  }

  .post-title__subtitle {
    font-size: 18px;
  }
}

.post-teaser__subtitle {
  font-weight: 400;
}

.content {
  a {
    border-bottom: 1px solid #303030;
    color: #303030;
    text-decoration: none;
  }
}

.readmore {
  background: None;
  border-bottom: 1px solid #303030;
  color: #303030;
  text-decoration: none;
}

/*artwork*/
#drawings {
  figure {
    margin-top: 1px;
  }

  figure figcaption {
    font-size: .9rem;
    line-height: 1.5;
    text-align: center;
  }
}

/*Home*/
#photo figure figcaption {
  font-size: .9rem;
  line-height: 1.5;
  text-align: center;
}

#photo figure img {
  height: auto;
  margin: 10px auto;
  max-width: 100%;
}

/*Newsletter*/

#newsletter {
  font-weight: normal;
  background-color: $newsletter-bg;
  margin-top: 5em;
  padding: 1em;
  text-align: center;
  width: 100%;

  form {
    text-align: center;

    input {
      display: inline;
      padding: 1em;
    }

    input[type=email] {
      border-radius: 3px;
      min-width: 280px;
    }

    input[type=submit] {
      border-radius: 3px;
      box-shadow: inset 0 0 0 1px #272727;
      text-transform: uppercase;
      background-color: white;
    }

    @media (max-width: 800px) {
      input[type=email] {
        min-width: 180px;
        margin-top: 10px;
        width: 100%;
      }

      input[type=submit] {
        margin-top: 10px;
        width: 100%;
      }
    }
  }
}

/*Links*/
#links {
  margin-top: 1em;
  a {
    background: none;
  }
  a:hover {
    text-decoration: none;
    background: -webkit-linear-gradient(top, transparent 0%, transparent 90%, #3c4245 90%, #3c4245 100%);
  }
}

.hljs {
  font-size: 0.85em;
}

/* #Navigation
================================================== */
.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 10px 0;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  -webkit-transition : all 0.3s ease-out;
  transition : all 0.3s ease-out;
}
.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 5px 0;
  -webkit-transition : all 0.3s ease-out;
  transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
  height: 28px;
  -webkit-transition : all 0.3s ease-out;
  transition : all 0.3s ease-out;
}
.navigation-wrap{
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition : all 0.3s ease-out;
  transition : all 0.3s ease-out;
  margin-bottom: 2em;
  padding-bottom: 0;

  a {
    background: none;
    text-decoration: none;
  }
}
.navbar{
  padding: 0;
}
.navbar-brand img{
  height: 52px;
  width: auto;
  display: block;
  -webkit-transition : all 0.3s ease-out;
  transition : all 0.3s ease-out;
}
.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}
.navbar-toggler:focus {
  outline: none;
}
.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #000;
  transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before{
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #000;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
  top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}
.nav-link{
  font-weight: 500;
  transition: all 200ms linear;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 5px 0 !important;
}
.nav-item:hover .nav-link{
  color: #8167a9 !important;
}
.nav-item:after{
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  background-color: #8167a9;
  opacity: 0;
  transition: all 200ms linear;
}
.nav-item:hover:after{
  bottom: 0;
  opacity: 1;
}
.nav-item.active:hover:after{
  opacity: 1;
}
.nav-item{
  position: relative;
  transition: all 200ms linear;
}

/* #Primary style
================================================== */
.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
  padding: 10px!important;
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
  color: #212121;
  background-color: #fcfaff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
  text-decoration: none;
}
.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding: 3px 15px;
  color: #212121;
  border-radius: 2px;
  transition: all 200ms linear;
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: rgba(129,103,169,.6);
}

/* #Media
================================================== */
@media (max-width: 767px) {
  .nav-item:after{
    display: none;
  }
  .nav-item::before {
    position: absolute;
    display: block;
    top: 15px;
    left: 0;
    width: 11px;
    height: 1px;
    border: none;
    background-color: #000;
    vertical-align: 0;
  }
  .dropdown-toggle::after {
    position: absolute;
    display: block;
    top: 10px;
    left: -23px;
    width: 1px;
    height: 11px;
    border: none;
    background-color: #000;
    vertical-align: 0;
    transition: all 200ms linear;
  }
  .dropdown-toggle[aria-expanded="true"]::after{
    transform: rotate(90deg);
    opacity: 0;
  }
  .dropdown-menu {
    padding: 0 !important;
    background-color: transparent;
    box-shadow: none;
    transition: all 200ms linear;
  }
  .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }
}

pre {
  padding: 0%;
}