<footer>
    <div class="wrapper">
        <!-- Begin Mailchimp Signup Form -->
        <div id="newsletter">
            <h2>Newsletter</h2>
            <p>I occasionally send an email newsletter with articles handpicked from 100+ sources of information. If
                you’re someone who likes knowing/doing new cool things – you should sign up. It's pretty cool.</p>
            <form action="https://puthraya.us4.list-manage.com/subscribe/post?u=2342d3bd4a7665ec0b913d439&amp;id=30f5c02240"
                  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
                  target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">

                    <input type="email" placeholder="Email Address" value="" name="EMAIL" class="required email"
                           id="mce-EMAIL">
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                              name="b_2342d3bd4a7665ec0b913d439_30f5c02240"
                                                                                              tabindex="-1" value="">
                    </div>
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
                </div>
            </form>
            <p style="font-size: 0.8em">This information will only be used to send you this newsletter. It is stored in
                <a href="https://mailchimp.com/legal/privacy/" target="_blank">Mailchimp.</a></p>
        </div>
        <!--End mc_embed_signup-->
        <div class="social-links">
            {% if config.extra.github %}
            <a title="Github" href="https://github.com/{{ config.extra.github }}" class="social-links__entry"
               target="_blank">
                <i class="fa fa-github"></i>
            </a>
            {% endif %}

            {% if config.extra.twitter %}
            <a title="Twitter" href="https://twitter.com/{{ config.extra.twitter }}" class="social-links__entry"
               target="_blank">
                <i class="fa fa-twitter"></i>
            </a>
            {% endif %}

            {% if config.extra.linkedin %}
            <a title="LinkedIn" href="{{ config.extra.linkedin }}" class="social-links__entry"
               target="_blank">
                <i class="fa fa-linkedin"></i>
            </a>
            {% endif %}

            <a title="RSS" href="/feed.xml" class="social-links__entry"
               target="_blank">
                <i class="fa fa-rss"></i>
            </a>
        </div>
    </div>
</footer>
