@font-face {
  font-family: 'Aller Regular';
  font-style: normal;
  src: url('../assets/vendor/Aller/Aller_Lt.ttf') format('truetype');
}

@font-face {
  font-family: 'Aller Bolder';
  font-style: normal;
  src: url('../assets/vendor/Aller/Aller_Bd.ttf') format('truetype');
}

html {
  background-color: #0000;
}

/* =Base */
body {
  background-color: white;
  color: $iron;
  font-family: 'Aller Regular', sans-serif;
}

img + em {
  display: block;
  text-align: center;
}

.twitter-tweet {
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
}

h1, h2, h3, p, li {
  opacity: 1;
  visibility: visible; /* Old IE */
  -webkit-transition: opacity 0.24s ease-in-out;
  -moz-transition: opacity 0.24s ease-in-out;
  transition: opacity 0.24s ease-in-out;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  color: $cloudy;
  font-weight: 300;
  text-decoration: none;

  &:hover {

  }
}

p {
  font-size: 1em;
  line-height: 32px;
}

ul {
  list-style-type: square
}

li {
  font-size: 1em;
  line-height: 32px;
  margin-left: 20px;
  margin-right: 20px;
}

img {
  margin: 40px auto;
  display: block;
  max-width: 100%;
}

h1 {
  font-family: 'Aller Bolder', sans-serif;
  font-size: 3em;
  font-weight: bolder;
}

h2 {
  font-family: 'Aller Bolder', sans-serif;
  font-size: 1.5em;
  font-weight: bolder;
}

h2 {
  font-family: 'Aller Bolder', sans-serif;
  font-size: 1.2em;
  font-weight: bolder;
}

h3 {
  font-family: 'Aller Bolder', sans-serif;
  font-size: 1em;
  font-weight: bolder;
}

blockquote {
  letter-spacing: 3px;
  margin: 0px;
  margin-top: 40px;
  margin-bottom: 70px;
  padding: 0px;
  text-align: center;
  position: relative;

  footer {
    position: absolute;
    bottom: -35px;
    font-size: 15px;
    color: $iron;
    letter-spacing: 0px;
    left: 0px;
    right: 0px;

    &:before {
      content: "** ";
    }

    &:after {
      content: " **";
    }
  }

  p {
    display: inline;
    font-size: 20px;
    color: $cloudy;
    font-weight: 300;

    &:before {
      content: "";
    }

    &:after {
      content: "";
    }
  }
}

strong {
  color: $iron;
}

/* =Header */
.wrapper {
  max-width: 800px;
  margin: 0px auto;
}

.header {
  overflow: hidden;
}

.navigation {
  float: left;
}

.logo {
  font-size: 2em;
  font-weight: 200;
  color: $iron;
  display: block;
}

.menu {
  color: $cloudy;
  font-size: 18px;
  margin: 0px;
  margin-top: 6px;
  list-style-type: none;
}

.menu__entry {
  display: inline-block;
  margin-right: 5px;

  &:last-child {
    margin-right: 0px;
  }
}

.menu__entry a {
  font-weight: 100;
}

.social-links {
  color: #000000;
  font-size: 24px;
  list-style-type: none;
  margin: 50px auto;
  text-align: center;
}

.social-links__entry {
  display: inline-block;
  margin-left: 10px;
}

.menu-selected {
  border-bottom: 1px solid #303030;
  color: #303030;
  text-decoration: none;
}

/* =Titles */
.page-title {
  margin-bottom: 30px;
  text-align: center;
}

.page-title__text {
  font-weight: 100;
  font-size: 1em;
}

.page-title__subtitle {
  font-weight: 100;
  font-size: 0.5em;
  color: $cloudy;
}

.post-title {
  margin-bottom: 1em;
}

.post-title__text {
  font-size: 1em;
}

.post-title__subtitle {
  font-size: 0.5em;
}

/* =Post teasers */

.list-posts {
  list-style-type: none;
  padding: 0px;
}

.post-teaser {
  line-height: 28px;
  font-weight: 100;
}

.post-teaser__title {
  color: $iron;
  font-size: 1em;
  font-weight: 700;
}

.post-teaser__date {
  font-size: 1em;
  float: right;
  vertical-align: middle;
  color: $cloudy;
}

.empty-post-list {
  font-size: 1em;
  font-weight: 100;
  color: $iron;
  text-align: center;
}

note-title {
  margin-bottom: 1em;
}

.-title__text {
  font-size: 1em;
}

.note-title__subtitle {
  font-size: 0.5em;
}

/* =Notes teasers */

.list-notes {
  list-style-type: none;
  padding: 0px;
}

.note-teaser {
  font-weight: 100;
}

.note-teaser__title {
  color: $iron;
  font-size: 1em;
  font-weight: 700;
}

.note-teaser__date {
  font-size: 1em;
  float: right;
  vertical-align: middle;
  color: $cloudy;
}

.empty-note-list {
  font-size: 1em;
  font-weight: 100;
  color: $iron;
  text-align: center;
}

/* =Explore */
.explore {
  text-align: center;
  color: $cloudy;
  margin-top: 100px;
}

.explore__devider {
  font-size: 18px;
  letter-spacing: 8.18px;
}

.explore__label {
  font-size: 14px;
  margin-top: 15px;
}

.categories {
  list-style-type: none;
  margin-top: 15px;
  padding: 0px;
}

.categories__item {
  display: inline-block;
  font-weight: 100;
  font-size: 18px;
}

.categories__item a {
  color: $iron;
}

.categories__item:after {
  content: "/";
  margin-left: 6px;
  color: $cloudy;
}

.categories__item:last-child:after {
  content: "";
  margin-left: 0px;
}

/* =Post page */
.about {
  color: $cloudy;
  margin-top: 40px;
  text-align: center;
  line-height: 24px;
}

.about__devider {
  font-size: 20px;
  margin-bottom: 50px;
  letter-spacing: 9.09px;
}

.about__text {
  font-size: 18px;
}

#disqus_thread {
  margin-top: 90px;
}

@media (max-width: 800px) {
  /* =Base */
  p {
    font-size: 16px;
    line-height: 1.6;
  }

  .wrapper {
    width: 80%;
  }

  .navigation,
  .social-links {
    @include centered-block();
  }

  .social-links {
    font-size: 30px;
    margin-top: 35px;
  }

  .page-title {
    margin-bottom: 60px;
  }

  .page-title__text {
    font-size: 40px;
  }

  .page-title__subtitle {
    font-size: 18px;
  }

  .post-teaser__title {
    font-size: 18px;
  }

  .post-teaser__date {
    font-size: 16px;
    margin-top: 10px;
    display: block;
    float: none;
  }

  .explore {
    margin-top: 50px;
  }

  .post-title__text {
    font-size: 28px;
  }

  .post-title__subtitle {
    font-size: 18px;
  }
}

.content {
  a {
    border-bottom: 1px solid #303030;
    color: #303030;
    text-decoration: none;
  }
}

.readmore {
  border-bottom: 1px solid #303030;
  color: #303030;
  text-decoration: none;
}

/*artwork*/
#drawings {
  figure {
    margin-top: 1px;
  }

  figure figcaption {
    font-size: .9rem;
    line-height: 1.5;
    text-align: center;
  }
}

/*Home*/
#photo figure figcaption {
  font-size: .9rem;
  line-height: 1.5;
  text-align: center;
}

#photo figure img {
  height: auto;
  margin: 10px auto;
  max-width: 100%;
}
