<!DOCTYPE html>
<html lang="en" style="background-color: #142220; margin: 0; padding: 0">
<head>
    {% include "meta_tags/base.html" %}
    {% include "meta_tags/sharing.html" %}

    {% include "external/styling.html" %}
</head>

<body style="background-color: inherit; margin: 0; padding: 0">

    <div class="go-home">
        <h1>Page Not Found</h1>
        <figure>
            <img src="https://dl.dropboxusercontent.com/s/pu144oi2nm681hh/spaced-out.jpeg?dl=0">
        </figure>
        <h2>
            I suggest <a style="background: None;color: #f0f0f0; border-bottom: 2px solid #f0f0f0; text-decoration: none;"
                        href="/">going home</a>, it's getting dark!
        </h2>
    </div>
        
<!-- Adding the glitch effect -->
<script> document.getElementsByTagName('body')[0].classList.add('glitch'); </script>
{% include "external/scripting.html" %}
{% include "external/simpleanalytics.html" %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>
