---
layout: default
---

<div class="wrapper">
    {% assign selected = 'about' %}
    {% include header.html %}
    {{ content }}
    <div class="social-links">
        {% if site.author.github %}
        <a href="https://github.com/{{ site.author.github }}" class="social-links__entry" target="_blank">
            <i class="fa fa-github"></i>
        </a>
        {% endif %}

        {% if site.author.twitter %}
        <a href="https://twitter.com/{{ site.author.twitter }}" class="social-links__entry" target="_blank">
            <i class="fa fa-twitter"></i>
        </a>
        {% endif %}
    </div>
</div>

<!--{% include page/explore.html %}-->
