<!DOCTYPE html>
<html lang="en">
{% seo %}
<head>
    {% include meta_tags/base.html %}
    {% include meta_tags/sharing.html %}
    {% include externals/styling.html %}
</head>

<body>
{% assign selected = 'drawings' %}
<div class="wrapper">
    {% include header.html %}
</div>

{{ content }}

{% include footer.html %}
{% include externals/scripting.html %}
{% include externals/google_analytics.html %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>
