<!DOCTYPE html>
<html lang="en" style="background: transparent; padding: 0; margin: 0">
{% seo %}
<head>
    {% include meta_tags/base.html %}
    {% include meta_tags/sharing.html %}

    {% include externals/styling.html %}
</head>

<body style="margin: 0; padding: 0">
    {% assign selected = 'home' %}
    {% include header.html %}

{{ content }}

{% include footer.html %}
{% include externals/scripting.html %}
{% include externals/google_analytics.html %}
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</body>
</html>

<!--{% include page/explore.html %}-->
